.cart{
    text-align: center;
}
.cart-info{
    margin-left: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.cart-info span{
    font-size: 1.2em;
    color: maroon;
    font-weight: 700;
}

.cart button{
    background-color: goldenrod;
    width: 250px;
    height: 30px;
    border: 1px solid gray ;
    border-radius: 5px;
    cursor: pointer;
}